<!DOCTYPE html>
{% autoescape true %}
<html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css" />
    <title> OST Final </title>
</head>
  <body>
 <div id="container" aligh="center">
<div id="header">
    {{ user }} 's Home
  <br/>
  <a href="/">Back to Main Page</a>
  </div>
  <div id="content">
    <h1>Your Question List</h1>
     <hr>
    {% for question in questions %}
      <p>
      <h3>{{ question.title|safe}}</h3>
    <i>created time: {{ question.createDate.strftime("%y/%m/%d %H:%M:%S") }}<br/></i>
    <i>latest modified time: {{ question.modifyDate.strftime("%y/%m/%d %H:%M:%S") }}<br/></i>
    <i>questioned by: {{ question.author }}<br/></i>
    <i>tag: 
    {% for sitag in question.tag %}
    &nbsp;&nbsp;-<a href="{{ ('/tag?type=' + sitag) |safe }}">{{ sitag}}</a>
    {% endfor %}<br/></i>
    <i>Vote Score: {{ question.voteScore }}<br/><br/></i>
    <i>{{ question.content |truncate(500,true)| html_display | safe}}
      {% if question.content|truncate(500,true) != question.content %}
        <a href="{{ ('/detail?questionKey=' + question.key.urlsafe()) |safe }}">. . .</a>
        {% endif %}
        <br/></i>
    <br/><a href="{{ ('/edit?questionKey=' + question.key.urlsafe()) |safe }}">Edit</a>
    &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ ('/delete?questionKey=' + question.key.urlsafe()) |safe }}">Delete</a>
    <hr>
    </p>
    {% endfor %}
  </div>
  <div id="content">
    <h1>Your Following Question List</h1>
     <hr>
  {% for fquestion in fquestions %}
  <p>
  <div>
    <h3>Following Question: {{ fquestion.title|safe}}</h3>
    <i>created time: {{ fquestion.createDate.strftime("%y/%m/%d %H:%M:%S") }}<br/></i>
    <i>latest modified time: {{ fquestion.modifyDate.strftime("%y/%m/%d %H:%M:%S") }}<br/></i>
    <i>follow question: {{ fquestion.qtitle }}<br/></i>
    <i>questioned by: {{ fquestion.author }}<br/></i>
    <i>Vote Score: {{ fquestion.voteScore }}<br/><br/></i>
    <i>{{ fquestion.content| html_display | safe }}<br/></i>
    {% if user==fquestion.author %}
      <a href="{{ ('/edit?fquestionKey=' + fquestion.key.urlsafe()) |safe }}">Edit</a>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ ('/delete?fquestionKey=' + fquestion.key.urlsafe()) |safe }}">Delete</a>&nbsp;&nbsp;&nbsp;&nbsp;
      {% endif %}
  </div>
  <hr>
  </p>
  {% endfor %}
  </div>
  <div id="content">
    <h1>Your Answer List</h1>
    <hr>
    {% for answer in answers %}
    <p>
    <h3>{{ answer.title|safe}}</h3>
    <i>created time: {{ answer.createDate.strftime("%y/%m/%d %H:%M:%S") }}<br/></i>
    <i>latest modified time: {{ answer.modifyDate.strftime("%y/%m/%d %H:%M:%S") }}<br/></i>
    <i>answered to question: {{ answer.qtitle }}<br/></i>
    <i>answered by: {{ answer.author }}<br/></i>
    <i>Vote Score: {{ answer.voteScore }}<br/><br/></i>
    <i>{{ answer.content | html_display | safe}}<br/></i>
      <br/><a href="{{ ('/edit?answerKey=' + answer.key.urlsafe()) |safe }}">Edit</a>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ ('/delete?answerKey=' + answer.key.urlsafe()) |safe }}">Delete</a>
      <hr>
      </p>
    {% endfor %}
  </div>
  <div id="content">
  <h1> Your Uploaded Image</h1>
  <hr>
    {% for image in images %}
    <p>
    <h3><a href="{{ image.imgUrl}} ">{{ image.imgUrl}}</a></h3>
    <i>created time: {{ image.createDate.strftime("%y/%m/%d %H:%M:%S") }}<br/></i>
    <i>uploaded by: {{ image.author }}<br/></i>
    <a href="{{ image.imgUrl}} "><img src="{{ image.imgUrl }}"></img></a><br/>
    <hr>
    </p>
    {% endfor %}
  </div>
  <div id="footer">
  <br/>
Copyright © 2014 | All Rights Reserved  
</div>
  </div>
  </body>
</html>
{% endautoescape %}